.content-wrapper{
	background-color: rgba(255,255,255,1);
	}
/* STANDARD CLASSES */
.spacer{
	height: 1rem;
	display: block;
	}
.spacer.half{
	height: 0.5rem;
	}
.spacer.two{
	height: 2rem;
	}
.spacer.four{
	height: 4rem;
	}
.spacer.ten{
	height: 10rem;
	}
.spacer.px{
	height: 50px;
	}
.spacer.two.px{
	height: 100px;
	}
.spacer.four.px{
	height: 200px;
	}
.spacer.inline{
	height: 1px !important;
	width: 1rem;
	display: inline-block;
	}	
.spacer.half.inline{
	width: 0.5rem;
	}
.spacer.two.inline{
	width: 2rem;
	}
.spacer.four.inline{
	width: 4rem;
	}
.spacer.ten.inline{
	width: 10rem;
	}
.bleed-all{
	margin: 0;
	padding: 0;
	}
.nomargin{
	margin: 0;
	}
.nopadding{
	padding: 0;
	}
.block{
	display: block;
	}
.relative{
	position: relative;
	}
.inline{
	display: inline;
	}
.column_margin{
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
	}
p a{
	color: rgba(138, 167, 0, 1.0);
	color: rgba(115, 174, 0, 1.0);
	text-decoration: underline;
	}
.small{
	font-size: 0.75em;
	}
.center{
	text-align: center;
	}
.center_block{
	margin: 0 auto;
	}
.align-left{
	text-align: left;
	}
.align-right{
	text-align: right;
	}
.newspaper{
	text-align: justify;
	text-justify: newspaper;
	}
.img-wrapper{
	border: solid 1px rgba(190,190,190,1);
	padding: 7px;
	background-color: rgba(255,255,255,1);
	width: auto;
	}
.vcenter_parent_flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
.page_height_wrapper{
	height: -moz-calc(100% - 100px);
	height: -webkit-calc(100% - 100px);
	height: -o-calc(100% - 100px);
	height: calc(100% - 100px);
	}
.vcenter_parent_noflex{
	position: relative;
	}
.vcenter_child_noflex{	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	}
#hero-row,
.hero-row{
	position: relative;
	}
.non_bulleted{
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	}
.hide-opacity{
	opacity: 0;
	}
.hide-overflow{
	overflow: hidden;
	}
.hide{
	display: none;
	}
.invisible{
	opacity: 0;
	}
.white{
	background-color: rgba(255,255,255,1) !important;
	}
.stack-10{
	z-index: 10;
	}
/**
 *  RESPONSIVE STYLES
 */

/* SMALL-MEDIUM SCREEN */
@media only screen and (min-width: 530px)
{
}
/* MEDIUM SCREEN */
@media only screen and (min-width: 40.063em)
{
	.medium-center{
		text-align: center;
		}
	.medium-right{
		text-align: right;
		}
	.medium-uncenter{
		text-align: left;
		}		
	.page_height_wrapper_medium,
	.page_height_wrapper_medium_up{
		height: -moz-calc(100% - 100px);
		height: -webkit-calc(100% - 100px);
		height: -o-calc(100% - 100px);
		height: calc(100% - 100px);
	}
}
/* LARGE SCREEN */
@media only screen and (min-width: 64.063em)
{
	.large-center{
		text-align: center;
		}
	.large-right{
		text-align: right;
		}
	.large-uncenter{
		text-align: left;
		}
	.page_height_wrapper_large,
	.page_height_wrapper_large_up,
	.page_height_wrapper_medium_up{
		height: -moz-calc(100% - 100px);
		height: -webkit-calc(100% - 100px);
		height: -o-calc(100% - 100px);
		height: calc(100% - 100px);
	}
}