/**
 *  UNIVERSAL ELEMENTS
 */
hr{
	height: 1px;
	border-top: solid 1px rgba(218, 218, 218, 1.0);
	}
.message{
	border: solid 1px rgba(255,255,255,1);
	background: rgba(255,255,255,0.75);
	margin: 0 auto 2rem auto;
	padding: 0 10px 0 15px;
	font: "museo-sans", Arial, sans-serif 300 !important;
	color: rgba(0,0,0,1);
	box-shadow: 0 0 4px 4px rgba(0,0,0,0.12);
	border: solid 3px rgba(180, 161, 32, 1.0);
	}
.message.success,
.message.error{
	border-width: 3px;
	border-left-width: 25px;
	}
.message.success{
	border-color: rgba(67, 167, 40, 1.0);
	}
.message.error{
	border-color: rgba(167, 40, 40, 1.0);
	}
.message p{
	margin: 0.5rem 0;
	padding: 0;
	font-size: 1.15rem;
	font-weight: 600;
	}
.gold{
	color: rgba(218, 160, 0, 1.0);
	}
/* Standard page content */
.content{
	padding: 1rem;
	}
.content ul,
.content ol{
	margin-left: 2.5rem;
	font-size: 1.15rem;
	}
.content ul.noindent,
.content ol.noindent{
	margin-left: 0;
	padding-left: 0;
	}
.content ul.noindent li,
.content ol.noindent li{
	list-style-position: inside;
	}
.content ul,
.content ol,
.content p,
.content table th,
.content table td{
	font-size: 0.8rem;
	}
/**
 *  LAYOUT
 */
body{
	background-color: rgba(234, 234, 234, 1.0);
	position: relative;
	font-family: "museo-sans";
	font-weight: 300;
	
	font: "museo-sans", Arial, sans-serif 300 !important;
	}
header{
	background-color: rgba(255,255,255,1);
	height: 50px;
	position: fixed;
	z-index: 1000;
	border-bottom: solid 1px rgba(220, 220, 220, 1.0);
	}
/*
header::after{
	width: 100%;
	height: 60px;
	content: '';
	display: block;
	position: static;
	top: 0;
	border: solid 1px red;
	}
*/
.header_spacer{
	width: 100%;
	height: 50px;
	}
.logo{
	width: 80px;
	height: 40px;
	border: solid 1px rgba(200,200,200,1);
	text-align: center;
	color: rgba(180,180,180,1);
	font-size: 1.5rem;
	margin: 5px 0 0 0;
	}
nav .menu{
	list-style: none;
	list-style-type: none;
	height: 100%;
	overflow: hidden;
	}
nav .menu li{
	display: inline;
	}
nav .menu li a{
	display: inline-block;
	margin: 0 0 0 1.25rem;
	padding: 0.85rem 0 1rem 0;
	color: rgba(69, 69, 69, 1.0);
	font-size: 0.95rem;
	}
nav .menu li.parent a:after{
	font-family: 'FontAwesome';
	content: '\f0d7';
	margin: 0;
	padding: 0 0 0 0.5rem;
	position: relative;
	top: 0.04rem;
	}
/* Launch page */
.hero_launch{
	background:
		linear-gradient(
		rgba(102, 102, 102, 0.62), 
		rgba(102, 102, 102, 0.62)
		),
		url('../img/layout_hero_launch.jpg')
		center / cover
		no-repeat;
	}
.hero_launch .row{
	padding: 0 0 2rem 0;
	}
.code_wrapper_inner{
	width: 100%;
	margin: 0 auto 1.2rem auto;
	}
.code_wrapper a{
	color: rgba(255,255,255,1);
	text-decoration: none;
	}
.code_wrapper a:hover{
	text-decoration: underline;
	}
.letter{
	width: 90%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.95);
	border-radius: 6px;
	padding: 1rem 1rem 0.5rem 1.3rem;
	}
.letter .logo{
	margin: 0 auto 0.85rem auto;
	}
ul.passcode{
	list-style: none;
	list-style-type: none;
	margin: 0 auto;
	display: table;
	width: 100%;
	max-width: 400px;
	}
ul.passcode li{
	display: table-cell;
	padding: 0 0.15rem;
	}
ul.passcode .passcode_field{
	width: 65px;
	height: 55px;
	font-size: 2.5rem;
	font-weight: 600;
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
	color: rgba(42, 119, 138, 1.0);
	width: 85%;
	max-width: 60px;
	min-width: 55px;
	}
ul.passcode li:last-of-type{
	margin-right: 0;
	}
.function_box{
	background-color: rgba(255,255,255,1) !important;
	}
.function_box.grey{
	background-color: rgba(219, 219, 219, 1.0) !important;
	}

.header_content{
	overflow: hidden;
	background-color: rgba(42, 118, 139, 1.0);
	color: rgba(255,255,255,1);
	padding: 0.5rem 0 1rem 0.75rem;
	position: relative;
	}
.header_content .dropdown{
	width: 100%;
	padding: 0;
	height: 100%;
	}
.header_content_menu{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
.header_content_menu li{
	margin: 0;
	padding: 0;
	display: block;
	}

.function_box h3.function_header{
/*
	max-height: 50px;
	overflow: hidden;
*/
	font-size: 1.5rem;
	margin: 0;
	color: rgba(255,255,255,1);
	}

.function_box h3:before{
	font-family: 'FontAwesome';
	margin-right: 0.6rem;
	}
.login_box{
	max-width: 700px;
	height: 340px;
	margin-top: 3rem;
	}
.login_box_content{
	margin-top: 25px;
	}
.bleed_bg_cover{
	height: 100%;
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color: rgba(102,102,102,0.5);
	}
.wrapper_steps{
	background-image: url('../img/layout_bg_steps.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	}
.wrapper_steps_inner_wrapper{
	display: flex;
	}
.steps_content{	
	margin: auto;
	}
.steps_2_content{
	height: 200px;
	height: 350px;
	}
.steps_save_content{
	padding: 1.25rem 0 1.25rem 0;
	color: rgba(255,255,255,1);
	}
.steps_save_content .content_block{
	width: 325px;
	height: 300px;
	background-color: rgba(255,255,255,1);
	}
.bubble-wrapper{
	position: relative;
	margin-top: 2rem;
	margin-bottom: 1rem;
	}
.bubble{
	width: 400px;
	height: auto;
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(255,255,255,0.85);
	border-radius: 30px;
	}
.bubble-wrapper .arrow-up {
	width: 0; 
	height: 0; 
	margin: 0 auto;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 45px solid rgba(255,255,255,0.85);
	}
.bubble-wrapper .arrow-left{
	display: none;
	}
.bubble h4{
	color: rgba(42, 119, 138, 1.0);
	display: block;
	font-family: "museo-sans", 'Arial', sans-serif;
	margin: 0 auto;
	position: static;
	text-align: center;
	padding-top: 1.3rem;
	}
.bubble blockquote,
blockquote.quote{
	font-family: "museo-sans", 'Arial', sans-serif;
	font-size: 0.8rem;
	max-width: 250px;
	max-height: 80%;
	border: none;
	margin: 0 auto;
	padding: 0 2.75rem;
	display: block;
	position: relative;
	top: 215px;
	transform: translateY(-50%);
	quotes: "\201C""\201D""\2018""\2019";
	}
.bubble blockquote{
	max-width: 350px;
	top: 30px;
	transform: none;
	padding-bottom: 4.5rem;
	}
blockquote.quote{
	position: static;
	transform: none;
	max-width: none;
	max-height: none;
	padding-bottom: 1rem;
	line-height: normal;
	}
.bubble blockquote p,
blockquote.quote p{
	max-width: 240px;
	margin: 0 auto;
	padding; 0 0 0 2rem;
	}
blockquote.quote p{
	max-width: none;
	}
.bubble blockquote:before,
.bubble blockquote:after,
blockquote.quote:before,
blockquote.quote:after{
	font-family: 'Arial', "museo-sans", 'Arial', sans-serif;
	color: rgba(42, 119, 138, 1.0);
	font-size: 4.75em;
	line-height: 0.1em;
	vertical-align: -0.4em;
	}
.bubble blockquote:before,
blockquote.quote:before{
	content: open-quote;
	}
.bubble blockquote:after,
blockquote.quote:after{
	content: close-quote;
	position: relative;
	top: 1.5rem;	
	}
.bubble blockquote p,
blockquote.quote p{
	display: inline;
	}
.bubble blockquote p.block,
blockquote.quote p.block{
	display: inline-block;
	margin-bottom: 0.5rem;
	}
.bubble blockquote p.block:last-of-type{
	margin-bottom: 0;
	}
/* Profile */
.profile_photo img{
	max-width: 165px;
	}
.profile_question{
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 50px;
	background-color: rgba(204, 204, 204, 1.0);
	background-image: url('../img/icon_dashboard_optimize_lifestyle_blue.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 32px auto;
	position: relative;
	}
.profile_question.demographic{
	background-image: url('../img/icon_dashboard_optimize_demographics_blue.svg');
	}
.profile_question.health{
	background-image: url('../img/icon_dashboard_optimize_health_blue.svg');
	}
.profile_question.financial{
	background-image: url('../img/icon_dashboard_optimize_financial_blue.svg');
	}
.profile_question.lifestyle{
	background-image: url('../img/icon_dashboard_optimize_lifestyle_blue.svg');
	}
.profile_question.goals{
	background-image: url('../img/icon_dashboard_optimize_goals_blue.svg');
	}
/* Advanced Questions */
.question_set{
	padding-top: 0.8rem;
	/*
	border-bottom: solid 1px rgba(222, 222, 222, 1.0);
	*/
	}
.question_set:last-of-type{
	border-bottom: none;
	}
/* Questions */
.question_content{

	}
.question_content.question_content_wrapper{
	margin-top: 3rem;
	margin-bottom: 3rem;
	}
.question_bottom_content{
	position: absolute;
	right: 10px;
	bottom: 6px;
	}
.question_content select{
	font-family: "museo-sans", 'Arial', sans-serif;
	color: rgba(100, 100, 100, 1.0);
	font-size: 1.5rem;
	padding: 0.25rem 0 0.25rem 0.5rem;
	border-radius: 6px;
	}
.question_content select option{
	padding: 0.35rem 0 0.45rem 0.5rem;
	outline: none;
	}
.question_content select option:focus,
.question_content select option:active{
	outline: none;
	}
.question_content select option:hover{
	background: #8B8B8B;
	}
.question_content select option:focus{
	background: #8B8B8B;
	}
.question_content select option:active{
	color: rgba(255, 255, 255, 1.0);
	background: rgba(50, 50, 50, 1.0);
	background-color: rgba(50, 50, 50, 1.0);
	background: #8B8B8B;
	outline: none;
	}
.question_content .question_checkbox ul,
.question_content .question_radio ul{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
.question_content .question_checkbox ul li,
.question_content .question_radio ul li{
	vertical-align: middle;
	padding: 0.5rem 0 0.5rem 0;
	}
.question_content .question_checkbox ul li{
	padding: 0.65rem 0 0.65rem 0;
	}
.question_content .question_checkbox ul li label,
.question_content .question_radio ul li label{
	font-size: 1rem;
	}
.question_content .question_checkbox ul li input[type="radio"],
.question_content .question_checkbox ul li input[type="checkbox"],
.question_content .question_radio ul li input[type="radio"],
.question_content .question_radio ul li input[type="checkbox"]{
	display: none;
	}
.question_content input[type="radio"] + label span.icon,
.question_content input[type="checkbox"] + label span.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
	background-repeat: no-repeat;
	background-position: left middle;
	}
.question_content input[type="checkbox"] + label span.icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
	}
.question_content input[type="radio"] + label span.icon{
    background-image: url('../img/html_radio_unchecked.svg');
	}
.question_content input[type="radio"]:checked + label span.icon{
    background-image: url('../img/html_radio_checked.svg');
	}

.question_content input[type="checkbox"] + label span.icon{
    background-image: url('../img/html_checkbox_unchecked.svg');
	}
.question_content input[type="checkbox"]:checked + label span.icon{
    background-image: url('../img/html_checkbox_checked.svg');
	}
.question_content ul li{
	position: relative;
	clear: both;
	}
.question_content input + label span.icon{
	float: left;
	position: absolute;
	left: 0;
	}
.question_content input[type="checkbox"] + label span.icon{
	top: 12px;
	}
.question_content input + label span.text{
	display: inline-block;
	margin-left: 1.85rem;
	}




/*
.question_content .question_radio.inline input + label span.icon{
	float: none;
	position: static;
	left: auto;
	}
.question_content .inline input[type="checkbox"] + label span.icon{
	top: auto;
	}
.question_content .inline input + label span.text{
	display: inline;
	margin-left: auto;
	}
*/



a.question_bottom_link{
	color: rgba(128, 128, 128, 1.0);
	font-size: 0.8rem;
	transition: color 0.2s ease-in-out;
	}
a.question_bottom_link:hover{
	color: rgba(80, 80, 80, 1.0);
	transition: color 0.2s ease-in-out;
	}
/* Dashboard */
.dash_section_welcome{
	position: relative;
	padding: 1rem 0 1rem 100px;
	}
.welcome_profile_pic{
	position: absolute;
	top: 1.5rem;
	left: 0;
	}
.welcome_copy{
/*
	position: absolute;
	left: 130px;
	top: 0;
*/
	}
.welcome_body{
	}
.welcome_button{
	}
.img_profile{
	width: 85px;
	height: 85px;
	}
.dash_optimize{
	list-style: none;
	list-style-type: none;
	margin: 0 auto;
	}
.dash_optimize li{
	display: block;
	text-align: center;
	position: relative;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 1.75rem;
	color: rgba(85, 85, 85, 1.0);
	}
.dash_optimize li i{
	width: 110px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 0.75rem;
	display: block;
	border-radius: 115px;
	background-color: rgba(255,255,255,1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 80px auto;
	}
.dash_optimize.assumptions li i{
	width: 90px;
	height: 90px;
	background-color: rgba(230, 230, 230, 1.0);
	background-size: 70px auto;
	}
.dash_optimize li.demographic i{
	background-image: url('../img/icon_dashboard_optimize_demographics.svg');
	}
.dash_optimize li.health i{
	background-image: url('../img/icon_dashboard_optimize_health.svg');
	}
.dash_optimize li.financial i{
	background-image: url('../img/icon_dashboard_optimize_financial.svg');
	}
.dash_optimize li.lifestyle i{
	background-image: url('../img/icon_dashboard_optimize_lifestyle.svg');
	}
.dash_optimize li.goals i{
	background-image: url('../img/icon_dashboard_optimize_goals.svg');
	}
.dash_optimize li.car i{
	background-image: url('../img/icon_dashboard_assumptions_car.svg');
	}
.dash_optimize li.vacation i{
	background-image: url('../img/icon_dashboard_assumptions_vacation.svg');
	}
.dash_optimize li.home i{
	background-image: url('../img/icon_dashboard_assumptions_home.svg');
	}
.dash_optimize li .alert{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 20px;
	padding: 0.15rem 0 0 0;
	border-radius: 30px;
	background-color: rgba(193, 39, 44, 1.0);
	color: rgba(255,255,255,1);
	text-align: center;
	font-weight: 600;
	font-family: "museo-sans", 'Arial', sans-serif;
	}
.dash_optimize li .alert.success{
	background-color: rgba(57, 181, 74, 1.0);
	background-image: url('../img/icon_check.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	}
/* Smaller version */
.dash_optimize.sm li i{
	width: 90px;
	height: 90px;
	background-size: 65px auto;
	}
.dash_optimize li .alert{
	width: 25px;
	height: 25px;
	right: 5px;
	padding: 0.08rem 0 0 0;
	}
#dash_optimize_questions{
	width: 600px;
	}
.dash_income_tab{
	position: absolute;
	left: -9999px;
	top: -9999px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	}
.dash_income_tab.active{
	position: static;
	left: auto;
	top: auto;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	}
.dash_income_period{
	display: inline-block;
	margin: 0;
	padding: 0;
	}
.dash_income_period li{
	list-style: none;
	list-style-type: none;
	display: inline-block;
	margin: 0 0.15rem 0 0;
	padding: 0;
	border-bottom: solid 1px transparent;
	}
.dash_income_period li:last-of-type{
	margin-right: 0;
	}
.dash_income_period li a{
	display: inline-block;
	vertical-align: top;
	background-color: rgba(179, 179, 179, 1.0);
	color: rgba(255,255,255,1);
	font-size: 1rem;
	margin: 0;
	padding: 0.2rem 1.65rem 0.2rem 1.65rem;
	transition: background-color 0.2s ease-in-out, border 0.01s ease-in-out;

	text-align: center;
	overflow: hidden;
	}
.dash_income_period li a:hover{
	background-color: rgba(150, 150, 150, 1.0);
	transition: background-color 0.2s ease-in-out, border 0.01s ease-in-out;
	}
.dash_income_period li.active{
	border-bottom: solid 1px rgba(255,255,255,1);
	}
.dash_income_period li.active a{
	background-color: rgba(255,255,255,1);
	color: rgba(150, 150, 150, 1.0);
	}
.dash_income_sources{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
.dash_income_sources li{
	margin: 0;
	padding: 0;
	}
.dash_chart_wrapper{
	position: relative;
	}
.chart_hover{
	min-width: 150px;
	max-width: 200px;
	min-height: 100px;
	background-color: rgba(242, 242, 242, 1.0);
	padding: 0.85rem;
	position: fixed;
	z-index: 1000;
	margin-top: -50px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	}
.chart_hover .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid rgba(242, 242, 242, 1.0);
	position: absolute;
	left: -10px;
	top: 15px;
	}
.chart_hover p{
	text-align: left;
	font-size: 0.65rem;
	margin: 0;
	}
.chart_hover .center,
.chart_hover .center p{
	text-align: center;
	}
.chart_hover h5{
	font-size: 0.85rem;
	}
.chart_hover .income{
	font-size: 1.1rem;
	color: rgba(228, 167, 58, 1.0);
	}
.chart_hover.retirement{

/*
	position: absolute;
	top: 150px;
	right: -75px;
*/
	position: fixed;
	}
.hover_legend{
	border: none;
	background: none;
	font-size: 0.4rem !important;
	margin: 0;
	padding: 0;
	}
.amcharts-chart-div a{
	display: none !important;
	}
.hover_legend tr,
.hover_legend td{
	background: none !important;
	font-size: 0.6rem;
	vertical-align: middle;
	}
.hover_legend i{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	}
.hover_legend i.legend_ss{
	background-color: rgba(165, 210, 175, 1.0);
	}
.hover_legend i.legend_pension{
	background-color: rgba(255, 213, 127, 1.0);
	}
.hover_legend i.legend_asset{
	background-color: rgba(252, 152, 96, 1.0);
	}
.hover_legend i.legend_other{
	background-color: rgba(183, 183, 183, 1.0);
	}
/*
.dash_chart_retirement:hover .chart_hover.retirement{
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	}
*/
.dash_chart_lifetime:hover .chart_hover.lifetime{
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	}




/**
 *  Section heading icons
 */
/* Sign in */
.login_box h3:before{
	content: "\f007";
	}
/* User management */
.manage_users h3:before{
	content: "\f0c0";
	}
/* Modify user */
.modify_user h3:before{
	content: "\f040";
	}

/**
 *  Form components
 */
body #flow_error{
	width: 100%;
	height: 100%;
	z-index: -100;
	display: block;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(40,40,40,0.85);
	position: absolute;
	z-index: -100;
	top: 0;
	left: 0;
	text-align: center;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, z-index 0.2s ease-in-out;
	}
.error_row{
	position: relative;
	top: 50%;
	transform: translateY(-70%);
	}
body.form_error_modal #flow_error{
	max-height: none;
	opacity: 1;
	visibility: visible;
	z-index: 9000;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, z-index 0.2s ease-in-out;
	}
#flow_error h2,
#flow_error p{
	color: rgba(255,255,255,1);
	font-size: 3rem;
	
	}
#flow_error p{
	font-weight: 600;
	font-size: 1.3rem;
	}



.range-slider{
	border-radius: 50px;
	background-color: rgba(226, 226, 226, 1.0);
	}
.range-slider-handle{
	height: 32px;
	top: -9px;
	border-radius: 100px;
	background-color: rgba(153, 153, 153, 1.0);
	}
.range-slider-handle:hover{
	background-color: rgba(127, 126, 126, 1.0);
	}
.range-slider-active-segment{
	background-color: rgba(0, 120, 137, 1.0);
	}
.switch{
	position: relative;
	width: 80px;
	margin: 0 auto;
	}
.switch input:checked + label{
	background: none;
	background-color: rgba(42, 119, 138, 1.0);
	}
.switch span.on,
.switch span.off{
	display: inline-block;
	position: absolute;
	text-align: center;
	font-family: "museo-sans", 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.65rem;
	pointer-events: none;
	top: 7px;
	opacity: 0;
	}
.switch span.on{
	opacity: 0;
	}
.switch span.off{
	color: rgba(120,120,120,1);
	right: 22px;
	opacity: 1;
	}
.switch input:checked ~ span.on{
	color: rgba(255,255,255,1);
	left: 20px;
	opacity: 1;
	}
.switch input:checked ~ span.off{
	opacity: 0;
	}
.ui-slider{
	background: none !important;
	background-color: rgba(226, 226, 226, 1.0) !important;
	border-radius: 50px !important;
	}
.ui-slider-handle,
.ui-slider-handle.ui-state-default{
	border-radius: 100px !important;
	background: none;
	background-color: rgba(153, 153, 153, 1.0) !important;
	}
.dash_slider_label{
	font-size: 1.2rem;
	margin-left: 0.5rem;
	}
ul.slider_input_label{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	font-size: 0.85rem;
	display: table;
	table-layout: fixed;
	width: 100%;
	}
ul.slider_input_label li{
	display: table-cell;
	text-align: center;
	}
ul.slider_input_label li:first-of-type{
	text-align: left;
	}
ul.slider_input_label li:last-of-type{
	text-align: right;
	}
input.textfield{
	border-radius: 3px;
	}
input.textfield.textfield-small{
	max-width: 200px;
	max-height: 28px;
	padding: 0.25rem 0.25rem 0.1rem 0.25rem;
	}
.textfield.searchfield,
.textfield.searchfield:focus{
	background-image: url('../img/icon_magnifying_glass.svg');
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size: 20px auto;
	padding-right: 35px;
	}
.login_label label{
	font-size: 1.1rem;
	color: rgba(69, 69, 69, 1.0);
	}
.button{
	background-color: rgba(220, 159, 38, 1.0);
	border-radius: 4px;
	padding: 0.65rem 0 0.65rem 0;
	margin: 0 0 0.3rem 0;
	font-family: "museo-sans", 'Arial', sans-serif;
	font-weight: 500;
	color: rgba(255,255,255,1) !important;
	}
.button:hover{
	background-color: rgba(178, 129, 33, 1.0);
	}
.button.alt_grey{
	background-color: rgba(167, 169, 171, 1.0);
	}
.button.alt_grey:hover{
	background-color: rgba(137, 138, 139, 1.0);
	}
.button.full-width{
	width: 100%;
	}
.button.medium-width{
	padding: 0.65rem 3rem 0.65rem 3rem;
	}
.button.fixed-width{
	text-align: center;
	width: 120px;
	}
.button.sm{
	font-size: 0.85rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	}
.login_help,
.login_help a{
	color: rgba(42, 118, 139, 1.0);
	font-size: 0.7rem;
	padding: 0;
	margin: 1rem 0 0 0;
	}
.login_help a:hover{
	text-decoration: underline;
	}
.field_dropdown{
	border-radius: 5px;
	max-width: 205px;
	width: 100;
	padding: 0 0 0 0.35rem;
	margin: 0 0.6rem 0 0;
	height: 30px;
	}
.textfield::-webkit-input-placeholder{
	color: rgba(200,200,200,1);
	}
.textfield::-moz-placeholder{
	color: rgba(200,200,200,1);
	opacity: 1;
	font-size: 1rem;
	}
.textfield::-webkit-input-placeholder{
	color: rgba(200,200,200,1);
	opacity: 1;
	font-size: 1rem;
	}
.textfield::-moz-placeholder{
	color: rgba(200,200,200,1);
	opacity: 1;
	font-size: 1rem;
	}
.textfield::-ms-input-placeholder{
	color: rgba(200,200,200,1);
	opacity: 1;
	font-size: 1rem;
	}
input.textfield.icon_search:after{
	font-family: 'FontAwesome';
	content: '\f002';
	position: absolute;
	left: 0;
	top: 0;
	color: rgba(220,220,220,1);
	font-size: 1rem;
	}
.field_label{
	font-size: 0.825rem;
	font-size: 0.8rem;
	}

.question_content{
	position: relative;
	display: block;
	}
.step_box{
	text-align: center;
	opacity: 0;
	position: absolute;
	left: -9999px;
	transition: 0.3s opacity ease-in-out;
	}
.step_box.past{
	transition: 0.3s opacity ease-in-out;
	}
.step_box.active{
	display: block;
	opacity: 1;
	z-index: 100;
	position: relative;
	left: auto;
	right: 0;
	transition: 0.3s opacity ease-in-out;
	}
.quote_gettingstarted{
	opacity: 0;
	left: -9999px;
	position: absolute;
	transition: 0.3s opacity ease-in-out;
	}
.quote_gettingstarted.active{
	opacity: 1;
	left: auto;
	position: relative;
	transition: 0.3s opacity ease-in-out;
	}
.step_box_quote{
	display: none;
	}
.step_box_quote.active{
	display: block;
	}
.step_box .textfield_alt{
	background: none;
	border: none;
	border-bottom: solid 2px rgba(255,255,255,1);
	color: rgba(255,255,255,1);
	font-size: 1.5rem;
	display: inline;
	box-shadow: none;
	opacity: 1;
	}
.step_box .currency:before{
	content: '\$';
	color: rgba(255,255,255,1);
	font-size: 1.2rem;
	font-weight: 600;
	}
.textfield_currency{
	display: inline-block;
	width: 100%;
	}
.textfield_currency:before{
	content: '\$';
	display: inline-block;
	position: absolute;
	left: 15px;
	margin: 8px 0 0 8px;
	color: rgba(120,120,120,1);
	}
.textfield.currency{
	padding-left: 25px;
	font-size: 1.2rem;
	}



.questions_date .length-medium,
.step_box .textfield_alt.length-medium{
	width: 100px;
	}
.questions_date .length-long,
.step_box .textfield_alt.length-long{
	width: 150px;
	}
.questions_date .length-month,
.step_box .textfield_alt.length-month{
	max-width: 50px;
	}
.length-year,
.step_box .textfield_alt.length-year{
	max-width: 72px;
	}
.step_box .textfield_alt:focus{
	background: none;
	border-bottom: solid 2px rgba(255,255,255,1);
	}
.step_box .textfield_alt::-webkit-input-placeholder {
	color: rgba(255,255,255,1);
	}
.step_box .textfield_alt::-moz-placeholder{
	color: rgba(255,255,255,1);  
	opacity: 1;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	}
.step_box .textfield_alt::-webkit-input-placeholder{
	color: rgba(255,255,255,1);  
	opacity: 1;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	}
.step_box .textfield_alt::-moz-placeholder{
	color: rgba(255,255,255,1);  
	opacity: 1;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	}
.step_box .textfield_alt::-ms-input-placeholder{
	color: rgba(255,255,255,1);  
	opacity: 1;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	}
.questions_date{
	list-style: none;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	margin-left: 1rem;	
	width: 100%;
	}
.questions_date li{
	display: inline-block;
	position: relative;
	margin: 0 0 0 0;
	padding: 0 2.5rem 0 0;
	font-size: 1.2rem;
	}
.inline_fields{
	list-style: none;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	margin-left: 1rem;
	}
.inline_fields li{
	display: inline;
	margin: 0;
	padding: 0;	
	}
.inline_fields.date li:after{
	content: "/";
	color: rgba(255,255,255,1);
	opacity: 1;
	font-weight: 300;
	font-size: 2.1rem;
	margin: 0 0 0 0.5rem;
	font-family: "museo-sans", 'Arial', sans-serif;
	position: relative;
	top: 0.5rem;
	}
.questions_date li:after{
	content: "/";
	opacity: 1;
	font-family: "museo-sans", 'Arial', sans-serif;
	font-weight: 300;
	font-size: 2.1rem;
	margin: 0 1rem 0 0;
	padding: 0;
	color: rgba(255,255,255,1);
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	}
.questions_date li:after,
.inline_fields.date.alt_color li:after{
	color: rgba(185,185,185,1);
	}
.questions_date li:last-of-type{
	margin: 0;
	padding: 0;
	}
.questions_date li:last-of-type:after,
.inline_fields.date li:last-of-type:after{
	content:"";
	margin: 0;
	padding: 0;
	}
.quote_gettingstarted,
.step_gettingstarted{
	display: none;
	}
.quote_gettingstarted.active{
	display: block;
	}
.step_gettingstarted.active{
	display: inline;
	}
table.management{
	width: 100%;
	border: none;
	color: rgba(69, 69, 69, 1.0);
	}
table.management th{
	font-weight: normal;
	font-size: 1.1rem;
	color: rgba(69, 69, 69, 1.0);
	padding-top: 1rem;
	padding-bottom: 1rem;
	}
table.management th.sort:after{
	font-family: 'FontAwesome';
	font-size: 0.95rem;
	content: '\f0d7';
	margin: 0;
	padding: 0 0 0 0.5rem;
	position: relative;
	top: 0.04rem;
	}
table.management tr{
	border-bottom: solid 1px rgba(234, 234, 234, 1.0);
	transition: background-color 0.2s ease-in-out;
	}
table.management tr:hover{
	background-color: rgba(242,242,242,1);
	transition: background-color 0.2s ease-in-out;
	}
table.management tr td{
	padding-top: 0.85rem;
	padding-bottom: 0.85rem;
	font-size: 0.85rem;
	position: relative;
	}
.action_list{
	list-style: none;
	list-style-type: none;
	font-size: 0.75rem;
	position: absolute;
	left: 0;
	top: 0.25rem;
	position: relative;
	}
.action_list li{
	display: inline;
	font-family: 'FontAwesome';
	}
.action_list li a span{
	font-family: "museo-sans", 'Arial', sans-serif;
	color: rgba(69, 69, 69, 1.0);
	font-size: 0.85rem;
	}
.action_list.notext li a{
	display: inline-block;
	position: relative;
	}
.action_list.notext li a span{
	display: none;
	}
.action_list li a:before{
	font-size: 1.2rem;
	padding: 0 0.35rem 0 0.35rem;
	color: rgba(125, 125, 125, 1.0);
	transition: color 0.2s ease-in-out;
	}
.action_list li a:hover:before,
.action_list li a:hover span{
	color: rgba(20,20,20,1);
	transition: color 0.2s ease-in-out;
	}
.action_list li.edit a:before{
	content: '\f040';
	}
.action_list li.delete a:before{
	content: '\f1f8';
	}

.header_content .dropdown .text a{
	color: rgba(255,255,255,1);
	padding-left: 0.25rem;
	}
.header_content .dropdown .text a:hover{
	text-decoration: underline;
	}
footer{
	background-color: rgba(167, 169, 171, 1.0);
	color: rgba(255,255,255,1);
	font-size: 0.875rem;
	}
footer .copyright{
	margin: 0.85rem 0 0 0;
	}
footer a{
	color: rgba(255,255,255,1);
	}
footer a:hover{
	text-decoration: underline;
	}
footer ul.footer_menu{
	list-style: none;
	list-style-type: none;
	margin: 0.85rem 0 0.85rem 0;
	font-size: 0.875rem;
	}
footer ul.footer_menu li{
	display: inline;
	margin: 0 1rem 0 0;
	}
footer ul.footer_menu li:last-of-type{
	margin-right: 0;
	}
footer ul.footer_menu li a{
	color: rgba(255,255,255,1);
	}


/**
 *  ICONS AND ART
 */
.arrow-down {
	width: 0; 
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid rgba(255,255,255,1);
	margin: 0 auto;
	}
/**
 * TYPOGRAPHY
 */
::-moz-selection {
	background: rgba(71, 71, 71, 1.0);
	color: rgba(240,240,240,1);
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
::selection {
	background: rgba(71, 71, 71, 1.0);
	color: rgba(240,240,240,1);
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
h1,h2,h3,h4,h5{
	font-family: "museo-sans", 'Arial', sans-serif;
	color: rgba(42, 119, 138, 1.0);
	}
h3{
	margin-bottom: 1.25rem;
	font-weight: 300;
	}
.question_content h3{
	color: rgba(128, 128, 128, 1.0);
	}
h4{
	margin-bottom: 1rem;
	}
h4.sm{
	font-size: 1rem;
	}
h5{
	color: rgba(69, 69, 69, 1.0);
	}
h2.alt,
h3.alt,
h4.alt,
p.alt{
	color: rgba(255,255,255,1);
	}
.steps_save_content .content_block h4{
	color: rgba(42, 119, 138, 1.0);
	font-size: 1.1rem;
	text-align: center;
	}
p{
	font-size: 0.875rem;
	font-size: 0.8rem;
	}
.question_content p{
	text-shadow: 0 0 3px rgba(0,0,0,0.2);
	}
.lg{
	font-size: 1.25rem;
	}
p.small{
	font-size: 1rem !important;
	}
.steps{
	color: rgba(128, 128, 128, 1.0);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	}
.highlight{
	color: rgba(42, 119, 138, 1.0);
	}
.step_box p,
.step_box label{
	font-size: 1.5rem;
	color: rgba(255,255,255,1);
	text-align: center;
	}
.steps_save_content p{
	font-size: 1rem;
	color: rgba(255,255,255,1);
	}
.dash_total{
	color: rgba(219, 158, 40, 1.0);
	font-weight: 500;
	}
.dash_total.main{
	font-size: 3rem;
	}
.dash_total.main-sm{
	font-size: 2.5rem;
	}
#whatif_scenarios{
	transition: width 0.4s ease-in-out;
	}
#whatif_scenarios_finance_term,
#whatif_scenarios_finance{
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in, visibility 0.3s ease-in, max-height 0.3s ease-in;
	}
#whatif_scenarios_finance_term.active,
#whatif_scenarios_finance.active{
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in, visibility 0.3s ease-in, max-height 0.1s ease-in;
	}
.next_period,
.dash_total.next{
	font-size: 1.1rem;
	}
.currency:before{
	content: '\$';
	}
.amt{
	color: rgba(42, 119, 138, 1.0);
	}
.whatif_graph_wrapper{
	width: 90%;
	margin: 0 auto;
	background-color: rgba(255,255,255,1);
	}
/**
 *  RESPONSIVE STYLES
 */

/* X-SMALL SCREEN (ONLY) */
@media only screen and (max-width: 30em)
{

}
/* SMALL SCREEN */
@media only screen and (max-width: 40em)
{

}
/* SMALL-MEDIUM SCREEN */
@media only screen and (min-width: 530px)
{
}
/* MEDIUM SCREEN */
@media only screen and (min-width: 40.063em)
{
	.hero_launch{
		height: 410px;
		}
	.hero_launch .row{
		padding: 0;
		}
	.code_wrapper_outer{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		}
	.login_label{
		text-align: right;
		}
	.login_box_content{
		margin-top: 65px;
		}
	.login_box_wrapper{
		height: calc(100% - 100px);
		}
	.login_box{
		max-width: 700px;
		height: 340px;
		margin: 0;
		padding: 0;
		}
	.login_box_inner_wrapper{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		}
	.login_label label{
		margin-top: 0.15rem;
		}
	.header_content_menu{
		display: table;
		table-layout: fixed;
		width: 100%;
		}
	.header_content_menu li{
		display: table-cell;
		max-height: 100%;
		vertical-align: top;
		padding: 0 1%;
		}
	.header_content{
		height: 50px;
		}
	.header_content .dropdown .text{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 0.75rem 0 0;
		}
	.steps_2_content{
		height: 180px;
		}
	.wrapper_steps{
		min-height: 410px;
		}
	.step_box p{
		display: inline;
		text-align: left;
		}
	/* Dashboard */
	.dash_section_welcome{
		padding: 2.5rem 0 2.5rem 130px;
		}
	.welcome_profile_pic{
		top: 2.5rem;
		}
	.dash_optimize{
		display: table;
		width: 100%;
		}
	.dash_optimize li{
		display: table-cell;
		width: 20%;
		}
	.dash_optimize li .alert{
		right: 12%;
		}
	#whatif_calculate{
		position: relative;
		top: -60px;
		}
	.whatif_graph_wrapper{
		width: 48%;
		float: left;
		}
	.whatif_graph_wrapper:last-of-type{
		float: right;
		}
	.wrapper_steps_inner_wrapper_content.screen_save{
		min-height: 410px;
		}
	footer{
		height: 50px;
		}
	footer ul.footer_menu{
		margin: 0.85rem 0.75rem 0 0;
		position: absolute;
		right: 0;
		}
}

/* MED-LARGE SCREEN */
@media only screen and (min-width: 49.063em)
{
	.dash_optimize li .alert{
		right: 18%;
		}
	.profile_question{
		right: -12px;
		}
}

/* LARGE SCREEN */
@media only screen and (min-width: 64.063em)
{
	.wrapper_steps_flex_wrapper{
		display: flex;	
		}
	.wrapper_steps_inner_wrapper_content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 410px;
		}
	.bubble-wrapper .arrow-up{
		display: none;
		}
	.bubble-wrapper .arrow-left{
		width: 0; 
		height: 0; 
		display: block;		
		border-top: 35px solid transparent;
		border-bottom: 35px solid transparent;
		border-right: 35px solid rgba(255,255,255,0.85);
		position: absolute;
		top: 50%;
		transform: translateY(-65%);
		}
	.bubble{
		left: 4px;
		}
	.dash_optimize li .alert{
		right: 33px;
		}
	ul.passcode{
		display: inline-block;
		width: auto;
		width: 100%;
		}
	ul.passcode li{
		display: inline-block;
		width: 20%;
		}
	ul.passcode .passcode_field{
		max-width: 60px;
		}
	footer ul.footer_menu{
		margin-right: 0;
		}
}
/* X-LARGE SCREEN */
@media only screen and (min-width: 90.063em)
{

}