html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility; 
	}
a,
.row a,
p a{
	color: rgba(227,25,55,1);
	}
a:hover{
	text-decoration: none;
	}
.row{
	max-width: 940px;
	/* max-width: 1400px; */
	background: none !important;
	}
.row.autowidth{
	width: auto !important;
	min-width: 0 !important;
	}
.row.row-bleed,
.row-bleed{
	width: 100%;
	margin: 0 auto;
	max-width: none;
	}
.row-bleed img.hero-img{
	width: 100%;
	}
.no-padding-left{
	padding-left: 0 !important;
	}
.no-padding-right{
	padding-right: 0 !important;
	}
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button{ 
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	margin: 0; 
	}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	margin: 0; 
	}
input[type=number]{
	-moz-appearance: textfield;
	}