	body{
		margin: 0;
		padding: 0;
		background-color: #363636;
		}
	.outer, .footer{
		margin: 0 auto;
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		}
	.header{
		background-color: #FFFFFF;
		}
	.inner{
		width: 100%;
		max-width: 600px;
		background-color: #FFFFFF;
		margin-top: 12px;
		border: solid 1px #D5D5D5;
		padding-bottom: 25px;
		}
	.inner-wrapper{
		background-color: rgba(238, 238, 238, 1.0);
		}
	.inner-wrapper-shadow{
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 15px;
		text-align: center;
		border-collapse: collapse;		
		}
	.inner-wrapper-shadow td img{
		vertical-align: top;
		}
	h1{
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', 'Helvetica', sans-serif;
		font-size: 32px;
		font-style: normal;
		font-weight: bold;
		line-height: 100%;
		letter-spacing: -1px;
		color: #999999 !important;
		text-align: center;
		}
	.button{
		display: inline-block;
		color: #FFFFFF !important;
		font-family: 'Arial', 'Helvetica', sans-serif;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: normal;
		text-decoration: none;
		line-height: 16px;
		padding: 14px 16px;
		background-color: #DC9F28;
		border-radius: 3px;	
		word-wrap: break-word;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		}
	.body{
		color: #000000;
		font-family: 'Arial', 'Helvetica', sans-serif;
		line-height: 20px;
		font-size: 13px;
		text-align: justify;
		}
	.body strong{
		font-size: 15px;
		color: #606060;
		}
	.body td{
		padding-left: 20px;
		padding-right: 20px;
		}
	.footer{
		background-color: #363636;
		color: #CCCCCC;
		font-family: 'Arial', 'Helvetica', sans-serif;
		line-height: 20px;
		font-size: 12px;
		}
	.footer a{
		color: #CCCCCC !important;
		}
	.footer td{
		padding-top: 10px;
		}
@media only screen and (max-width: 600px)
{
	h1{
		font-size: 24px;
		}
	.inner img{
		width: 80% !important;
		}
	.inner-wrapper-shadow td img{
		width: 100% !important;
		}
}